//レイアウト確認
* {
  // border: dashed 1px #333;
}

body {
  font-family: "Roboto", "Noto Sans JP", sans-serif;
  max-width: 1600px;
  text-align: justify;
	background-color: $--main-secondary;
}

section {
  margin: 0 auto;
	padding: 100px 300px;
  // margin-bottom: 70px;
  // padding-top: 50px;
}

figure{
	margin: 0;
	padding: 0;
}

img{
	width: 100%;
	vertical-align: bottom;
}

// マージン・パディング
.mb-sm {
  margin-bottom: 16px !important;
}
.mb-md {
  margin-bottom: 56px !important;
}
.mb-lg {
  margin-bottom: 80px !important;
}
.pb-sm {
  padding-bottom: 16px !important;
}
.pb-lg {
  padding-bottom: 80px !important;
}

// 要素中央揃え
.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

// 箇条書きスタイル消す
ul {
  padding: 0;
}
li {
  list-style: none;
}

// emシリーズ

.yellow-line {
  background: linear-gradient(transparent 60%, gold 0%);
}

.blue-line {
  background: linear-gradient(transparent 60%, lightcyan 0%);
}



// header
.ly_header {
}

.bl_nav {
	display: flex;
  justify-content: space-between;
  align-items: center;
	padding: 10px 50px;
	background-color: $--main-secondary;
}

.el_headerLogo_imgWrapper {
    width: 80px;

}

.bl_menuList {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  gap: 20px;
	background-color: $--main-secondary;
	border-radius:20px;
	box-shadow:
		3px 3px 5px $--shadow-cBlue,
		// -5px -5px 5px $--main-primary,
		// 5px -5px 5px $--main-primary,
		0px 3px 5px $--shadow-cBlue,
		;
}

.hl_shadow{
	box-shadow:
	3px 3px 5px $--shadow-cBlue,
	// -5px -5px 5px $--main-primary,
	// 5px -5px 5px $--main-primary,
	0px 3px 5px $--shadow-cBlue,
	;
}

.el_menuItem {
  width: fit-content;
  padding: 10px 20px;
	border-radius: 20px;
	&:hover{
		text-decoration: underline;
		background-color: $--main-primary;
		color: #fff;
		transition: .7s;
	}
}

// hero
.bl_hero {
  width: 80%;
  height: 700px;
  display: flex;
  align-items: center;
	justify-content: center;
	padding: 0 50px;
  animation: fadeIn 1s ease forwards,slideIn 1s ease;
	// opacity: 0;
  // background-image: url(../../images/arrow.png);
  // background-repeat: no-repeat;
  // background-position-x: right;
  // background-position-y:30%;
}

.bl_hero_heading {
  font-size: 220px;
  line-height: 1;
}

.bl_hero_subHeading {
  font-size: 4vw;
  line-height: 1;
}

.bl_hero_description {
  font-size: 2vw;
}

.el_arrow_wrapper {
  width: 40%;
  position: absolute;
  right: 100px;
  z-index: -1;
}

// common_class
.el_heading {
  font-size: 48px;
  padding: 20px 10px;
  margin-top: 100px;
	width: 600px;
}


// services



.bl_services{
	background-color: $--main-primary;
	color: #fff;

}


.bl_card_wrapper{
	display: flex;
	justify-content: space-around;
	gap: 50px;
}

.card{
	margin-top: 50px;
}

.card_image{
	width:300px;
	margin: 0 auto;
}

// price



// skills
.skills__heading {
  background-color: $--main-primary;
	border-radius: 50px;
	padding: 0 50px;
  color: #fff;
}

.skills__card {
  display: flex;
  gap: 20px;
  margin-top: 50px;
  margin-left: 200px;
}

.skills__ico {
  width: 100px;
}


//performance


// footer
footer {
  height: 300px;
  padding: 50px;
  color: #fff;
  background-color: $--main-primary;
}
