//レイアウト確認
* {
  border: dashed 1px #333;
}

body {
  font-family: "Roboto", "Noto Sans JP", sans-serif;
  // max-width: 1600px;
  margin: 0 auto;
  text-align: justify;
}

section {
  max-width: 90%;
  margin: 0 auto;
  // margin-bottom: 70px;
  // padding-top: 50px;
}

// マージン・パディング
.mb-sm {
  margin-bottom: 16px !important;
}
.mb-md {
  margin-bottom: 56px !important;
}
.mb-lg {
  margin-bottom: 80px !important;
}
.pb-sm {
  padding-bottom: 16px !important;
}
.pb-lg {
  padding-bottom: 80px !important;
}

// 要素中央揃え
.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

// 箇条書きスタイル消す
ul {
  padding: 0;
}
li {
  list-style: none;
}

// emシリーズ

.yellow-line {
  background: linear-gradient(transparent 60%, gold 0%);
}

.blue-line {
  background: linear-gradient(transparent 60%, lightcyan 0%);
}

.title {
  font-size: 48px;
  padding: 20px 10px;
  margin-top: 100px;
}

// header
header {
  background-color: $--main-primary;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  img {
    width: 80px;
  }
}

.menu-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  gap: 20px;
  a {
    color: #fff;
  }
}

.menu-item {
  width: fit-content;
  padding: 10px 20px;
}

// hero-header
.hero-header {
  width: 100%;
  height: 700px;
  display: flex;
  align-items: center;
  animation: slideIn 3s ease-in;
  // background-image: url(../../images/arrow.png);
  // background-repeat: no-repeat;
  // background-position-x: right;
  // background-position-y:30%;
}

.hero-header__heading {
  font-size: 220px;
  line-height: 1;
}

.hero-header__sub-heading {
  font-size: 4vw;
  line-height: 1;
}

.hero-header__description {
  font-size: 2vw;
}

.arrow {
  width: 40%;
  position: absolute;
  right: 0;
  z-index: -1;
}

// skills
.skills__title {
  background-color: $--main-primary;
  color: #fff;
}

.skills__card {
  display: flex;
  gap: 20px;
  margin-top: 50px;
  margin-left: 200px;
}

.skills__ico {
  width: 100px;
}

// footer
footer {
  height: 300px;
  padding: 50px;
  color: #fff;
  background-color: $--main-primary;
}
