@keyframes slideIn {
  0% {
    margin-top: 50%;
  }
  50% {
    margin-top: -90px;
  }
  100% {
    margin-top: 50px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.mb-sm {
  margin-bottom: 16px !important;
}

.mb-md {
  margin-bottom: 56px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}

.yellow-line {
  background: linear-gradient(transparent 60%, gold 0%);
}

.blue-line {
  background: linear-gradient(transparent 60%, lightcyan 0%);
}

.hp_shadow {
  box-shadow: 3px 3px 5px #b0c4de, 0px 3px 5px #b0c4de;
}

body {
  font-family: "Roboto", "Noto Sans JP", sans-serif;
  max-width: 1600px;
  text-align: justify;
  background-color: #f0f8ff;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  vertical-align: bottom;
}

a:focus,
a:hover {
  color: yellow;
  text-decoration: underline;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.ly_cont {
  margin: 0 auto;
  padding: 100px 250px;
  color: #333;
}

.ly_cont_bgBlue {
  background-color: #1b2f60;
  color: #fff;
}

.ly_intro {
  padding: 20px 10px;
  margin-bottom: 50px;
}

.bl_heading {
  text-align: left;
  font-size: 3rem;
}

.bl_description {
  font-size: 1.75rem;
}

.bl_description__white {
  font-size: 1.75rem;
}

.ly_header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.ly_header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

.el_headerLogo {
  width: 80px;
}

.ly_headerNav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
}

.bl_headerNav {
  gap: 20px;
  background-color: #f0f8ff;
  border-radius: 20px;
}

.bl_headerNav_item {
  width: fit-content;
  text-align: center;
}

.bl_headerNav_link {
  position: relative;
  display: block;
  padding: 10px 20px;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.bl_headerNav_link:hover {
  text-decoration: underline;
  background-color: #1b2f60;
  color: #fff;
  transition: 0.7s;
}

.hamburger {
  display: block;
  position: absolute;
  top: 300px;
  right: 50px;
  width: 60px;
  height: 60px;
  padding: 15px;
  background-color: #1b2f60;
  border-radius: 50%;
}

.hamburger .inner_line {
  display: block;
  height: 3px;
  background-color: #fff;
  margin-bottom: 7px;
}

.hamburger .inner_line:first-child {
  margin-top: 3px;
}

.hamburger .inner_line:nth-child(2) {
  width: 80%;
}

.hamburger .inner_line:last-child {
  width: 60%;
}

.ly_cont_hero {
  width: 80%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.bl_hero_heading {
  font-size: 220px;
  line-height: 1;
}

.char {
  display: inline-block;
  margin-right: -65px;
  transform: translateX(-300px);
}

.bl_hero_subHeading {
  font-size: 4vw;
  line-height: 1;
}

.bl_hero_description {
  font-size: 2vw;
}

.el_arrow_wrapper {
  width: 40%;
  position: absolute;
  right: 100px;
  z-index: -1;
}

.bl_card {
  display: flex;
  gap: 50px;
  margin-top: 50px;
}

.bl_card h3 {
  font-size: 2rem;
}

.el_heading_wrapper {
  background-color: #1b2f60;
  border-radius: 50px;
}

.el_heading_skills {
  padding: 0 50px;
  color: #fff;
}

.bl_skills_list {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: left;
}

.bl_article {
  display: flex;
  gap: 20px;
  width: 45%;
  margin-bottom: 50px;
}

.el_article_image {
  flex: 1;
  height: inherit;
  overflow: hidden;
}

.bl_skills_txtWrapper {
  flex: 2;
}

.el_link_white {
  color: skyblue;
}

.el_link_white:hover, .el_link_white:focus {
  color: white;
}

.bl_article_pfm {
  width: 100%;
  font-size: 24px;
}

.bl_article_pfm img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  object-position: top;
}

.works_imgWrapper {
  position: relative;
  margin-right: 20px;
}

.works_link_wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  gap: 10px;
  font-size: 3rem;
  background-color: rgba(255, 255, 255, 0.8);
}

.bl_card_image_about {
  width: 800px;
  clip-path: circle();
}
/*# sourceMappingURL=style.css.map */