@import "./modules/variables";
@import "./modules/animation";
@import "./modules/helper";

@import "breakpoints/base";

@media(max-width: 1280px) {
	@import "breakpoints/1280under";
}

@media(max-width: 960px) {
	@import "breakpoints/960under";
}

@media(max-width: 600px) {
	@import "breakpoints/600under";
}

@media(max-width: 480px) {
	@import "breakpoints/480under";
}

@media (min-resolution: 192dpi)
			,(-webkit-min-device-pixel-ratio: 2) {
	@import "breakpoints/2x";
}

@media print {
	@import "breakpoints/print";
}
