@keyframes slideIn {
  0% {
    margin-top: 50%;
  }
  50% {
    margin-top: -90px;
  }
  100% {
    margin-top: 50px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  font-family: "Roboto", "Noto Sans JP", sans-serif;
  max-width: 1600px;
  text-align: justify;
  background-color: #f0f8ff;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.mb-sm {
  margin-bottom: 16px !important;
}

.mb-md {
  margin-bottom: 56px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.yellow-line {
  background: linear-gradient(transparent 60%, gold 0%);
}

.blue-line {
  background: linear-gradient(transparent 60%, lightcyan 0%);
}

.ly_header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.ly_header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}

.el_headerLogo {
  width: 80px;
}

.bl_headerNav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  gap: 20px;
  background-color: #f0f8ff;
  border-radius: 20px;
}

.hl_shadow {
  box-shadow: 3px 3px 5px #b0c4de, 0px 3px 5px #b0c4de;
}

.bl_headerNav_item {
  width: fit-content;
  text-align: center;
}

.bl_headerNav_link {
  position: relative;
  display: block;
  padding: 10px 20px;
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.bl_headerNav_link:hover {
  text-decoration: underline;
  background-color: #1b2f60;
  color: #fff;
  transition: 0.7s;
}

.ly_cont {
  margin: 0 auto;
  padding: 100px 250px;
}

.ly_cont_hero {
  width: 80%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  animation: fadeIn 1s ease-out forwards, slideIn 1s ease forwards;
}

.bl_hero_heading {
  font-size: 220px;
  line-height: 1;
}

.bl_hero_subHeading {
  font-size: 4vw;
  line-height: 1;
}

.bl_hero_description {
  font-size: 2vw;
}

.el_arrow_wrapper {
  width: 40%;
  position: absolute;
  right: 100px;
  z-index: -1;
}

.el_heading {
  font-size: 48px;
  padding: 20px 10px;
  margin-top: 100px;
  width: 600px;
}

.ly_cont_bgBlue {
  background-color: #1b2f60;
  color: #fff;
}

.bl_card_wrapper {
  display: flex;
  justify-content: space-around;
  gap: 50px;
}

.card {
  margin-top: 50px;
}

.card_image {
  width: 300px;
  margin: 0 auto;
}

.el_heading_wrapper {
  background-color: #1b2f60;
  border-radius: 50px;
}

.el_heading_skills {
  padding: 0 50px;
  color: #fff;
}

.bl_skills_list {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: left;
}

.bl_article {
  display: flex;
  gap: 20px;
  width: 45%;
  margin-bottom: 50px;
}

.el_article_image {
  flex: 1;
  height: inherit;
  overflow: hidden;
}

.bl_skills_txtWrapper {
  flex: 2;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
}

table tr:last-child {
  border-bottom: solid 1px #ddd;
}

table th {
  text-align: center;
  padding: 7px 0;
  border-right: solid 1px #ddd;
  border-left: solid 1px #ddd;
  width: 33%;
}

table th:nth-child(1) {
  background-color: #dddddd;
}

table th:nth-child(3) {
  background-color: #f5b932;
  color: white;
}

table tr:nth-child(2) td {
  font-size: 30px;
}

table td {
  text-align: center;
  padding: 7px 0;
  border-right: solid 1px #ddd;
  border-left: solid 1px #ddd;
  width: 155px;
}

table td a {
  background-color: #25b327;
  color: white;
  padding: 5px 20px;
  border-radius: 30px;
  font-weight: bold;
}

table th.popular {
  position: relative;
}

table th.popular span.no1 {
  position: absolute;
  top: -10px;
  left: calc(50% - 30px);
  background: #bdcc28;
  font-size: 10px;
  border-radius: 15px;
  line-height: 1;
  padding: 5px;
}

table th.popular span.inner {
  position: absolute;
  color: white;
  background-color: #f34955;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  padding: 10px 0;
}

.bl_article_pfm {
  width: 100%;
  font-size: 24px;
}

.bl_article_pfm img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  object-position: top;
}
/*# sourceMappingURL=style.css.map */